body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
  background-color: black;
  color: white;
  padding: 70px 0px 70px 0px;
}

.history{
  text-align: justify;
}

.about{
  max-width: 100%;
}

.package{
  max-width: 100%;
}

h3{
  text-align: center;
}

.youtube{
  height: 100vh;
}

.navbar.custom-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}